# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
.next/
out/

# Logs
*.log
dev-server*.log
next-dev*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env
.env
.env.local
.env.*.local

# OS/editor
.DS_Store
Thumbs.db

# Testing
/coverage

# Production
/build

# Misc
*.pem

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
